.dlcCard__img{
  position: relative;
  img{
    height: 213px;
    object-fit: cover;
  }
}

.dlcCard__raiting,.dlcCard__released{
  position: absolute;
}
.dlcCard__raiting{
  left: 0;
  top: 0;
}
.dlcCard__released{
  right: 0;
  top: 0;
}
