.header{
  color: #172554;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 5;
}

.header__container{
  max-width: 1310px;
  margin: 0 auto;
  padding: 0px 15px;
}

.header__logo{
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 5px;
  &:hover{
    box-shadow: 0px 0px 10px #4C1D95;
    background-color: #4C1D95;
    color: #FFFFFF;
  }
}

.header__nav-link{
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  padding: 5px;

  &:hover{
    box-shadow: 0px 0px 10px #4C1D95;
    background-color: #4C1D95;
    color: #FFFFFF;
  }
}
.active{
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px #4C1D95;
  background-color: #4C1D95;
  color: #FFFFFF;
}

.count{
  top: -5px;
  right: -13px;
  padding: 0px 5px;
  border-radius: 50%;
  z-index: 3;
}

@media (max-width:330px) {
  .header__logo{
    font-size: 14px;
    line-height: 22px;
  }
  .header__nav-link{
    font-size: 14px;
    line-height: 22px;
  }
}
