.genres__list{
  width: 82%;
  overflow-x: scroll;
  margin: 0 auto;
  li{
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    &:hover{
      background-color: #895ae7;
      color: white;
    }
  }
}

.activeGenre{
  background-color: #6c22d9 !important;
  color: #FFFFFF !important;
}

.dropdown-menu__item{
  padding: 0px 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  cursor: pointer;
  &:hover{
    background-color: #6c22d9;
    color: white;
  }
}
.dropdown-toggle{
  transition: all 0.3s ease-in-out;
  &:hover{
    background-color: #6c22d9;
    color: white;
  }
}
